@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

#cover h2 {
    color: #fff;
    text-align: left;
    font-size: 70px;
}

#cover p {
    margin: 10px 0 0;
    text-align: left;
    color: #fff;
    font-style: italic;
    font-size: 20px;
}

#cover p a {
    color: #fff;
}

#school img {
    width: 100%;
    height: auto;
    max-height: none;
}
